<!-- ======= SIDE NAV LEFT ======= -->
<md-sidenav class="md-sidenav-left md-whiteframe-z2 background-white"  md-component-id="left">

  <md-content class="h100 background-charcoal">

    <!-- Profile Header -->
    <div class="profile-side-nav-header pos-rel">

      <md-button class="md-icon-button pos-abs t24 r6" aria-label="Close" ng-click="close()">
        <i class="fa fa-close text-light"></i>
      </md-button>

      <div class="login-toggle" ng-click="close()">
        <md-list-item class="md-3-line">
          <div class="md-list-item-text text-light mt0 mb0" layout="column">
            <div class="md-headline">{{ request.user.first_name }} {{ request.user.last_name }}</div>
          </div>
        </md-list-item>
      </div>

    </div>

    <div id="sideNavContainer" ng-hide="loginToggle">

      <md-list-item class="text-white" ng-click="showFavs = !showFavs">
        <i class="fa fa-heart"></i> <span class="ml12">Your favorites</span>
      </md-list-item>

      <md-list ng-show="showFavs">
        <md-list-item class="background-white" ng-repeat="f in favorites" ng-href="[{ f.url }]">
          [{ f.name | noHTML }]
          <md-divider></md-divider>
        </md-list-item>
      </md-list>

      <md-content class="docs-content" flex role="navigation" ng-controller="NavItemsCtrl">

        <div class="wrapper">
          <form class="searchbox">
            <input type="search" md-autofocus placeholder="Search" id="search" ng-model="findReport">
          </form>
        </div>

        <md-list class="docs-menu" ng-show="findReport">
          <md-list-item ng-repeat="report in reportList | filter:findReport" class="md-padding" ng-href="[{ report.url }]">
            [{ report.name | noHTML }]
          </md-list-item>
        </md-list>

        <ul class="docs-menu" ng-hide="findReport">

          <li ng-repeat="section in menu.sections" class="parent-list-item [{ section.className || '' }]" ng-class="{'parentActive' : isSectionSelected(section)}">

            <h2 class="menu-heading md-subhead background-charcoal" ng-if="section.type === 'heading'" id="heading_[{ section.name | nospace }]">[{ section.name }]</h2>

            <menu-link section="section" ng-if="section.type === 'link' && !section.hidden"></menu-link>

            <menu-toggle section="section" ng-if="section.type === 'toggle' && !section.hidden"></menu-toggle>

            <ul ng-if="section.children" class="menu-nested-list">
              <li ng-repeat="child in section.children" ng-class="{'childActive' : isSectionSelected(child)}">

                <menu-link section="child" ng-if="child.type === 'link'"></menu-link>

                <menu-toggle section="child" ng-if="child.type === 'toggle'"></menu-toggle>
              </li>
            </ul>
          </li>
        </ul>
      </md-content>

    </div>

    <md-divider></md-divider>

    <md-list>
      {% block controls %}
      {% block extra_controls %}

      {% endblock extra_controls %}
      <md-list-item class="text-white" href="{% url 'home_page' %}">
        Report Directory
      </md-list-item>
      <md-list-item class="text-white" href="{% url 'intro' %}">
        <md-tooltip>Introduction and FAQ</md-tooltip>
        Help / FAQ
      </md-list-item>

      <md-list-item class="text-white" href="{% url 'logout' %}">
        Sign Out
      </md-list-item>
      {% endblock controls %}
    </md-list>

  </md-content>

</md-sidenav>
<!-- ======= END: SIDE NAV LEFT ======= -->